/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-lighter-grey: #EAEAEA;
  --basic-light-grey: #E5E5E5;
  --basic-grey: #C5C5C5;
  --basic-dark-grey: #B5B5B5;
  --basic-darker-grey: #A9A9A9;
  --basic-lighter-yellow: #F9F5F0;
  --basic-light-yellow: #F7F3EC;
  --basic-yellow: #FFD180;
  --basic-red: #EE3643;
  --basic-dark-red: #CA2C37;
  --basic-darker-red: #BA2732;
  --basic-light-green: #5FBB2D;
  --basic-green: #63A63E;
  --basic-dark-green: #518534;
  --basic-darker-green: #367315;
  --basic-extralight-greyblue: #F1F5F7;
  --basic-lighter-greyblue: #F2F6F8;
  --basic-light-greyblue: #B7BFC8;
  --basic-greyblue: #3D546F;
  --basic-dark-greyblue: #32425C;
  --basic-darker-greyblue: #293449;
  --basic-extradark-greyblue: #1D2739;
  --basic-black: #000000;

  --basic-transparent-light-white: rgba(255, 255, 255, 0.3);
  --basic-transparent-white: rgba(255, 255, 255, 0.5);
  --basic-transparent-grey: rgba(197, 197, 197, 0.3);
  --basic-transparent-darker-grey: rgba(169, 169, 169, 0.3);
  --basic-transparent-lighter-black: rgba(0, 0, 0, 0.3);
  --basic-transparent-light-black: rgba(0, 0, 0, 0.24);
  --basic-transparent-black: rgba(0, 0, 0, 0.25);
  --basic-transparent-dark-black: rgba(0, 0, 0, 0.15);

  --special-dark-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green: #8ED78F;
  --special-darker-greyblue: #212A3A;
  --special-extradark-greyblue: #161D29;
  --special-lighter-greyblue: #F3F7F9;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
}

/* Header */

.main-header {
  background-color: var(--basic-extralight-greyblue);
  font-family: "Cuprum", Arial, sans-serif;
  margin-bottom: 60px;
}

.main-header-logo {
  background-color: var(--basic-red);
}

.main-header-logo:active {
  background-color: var(--basic-darker-red);
}

.header-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 30px;
}

.main-header-about p {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0 30px;
}

.main-header-contacts {
  text-align: center;
}

.main-header-contacts p {
  font-size: 14px;
  color: var(--basic-dark-greyblue);
}

.header-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.main-header-account {
  justify-self: end;
}

.authorization-container a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.authorization-container a:hover,
.authorization-container a:focus {
  color: var(--basic-red);
}

.authorization-container a:active {
  color: var(--basic-grey);
}

.profile-links {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
}

.profile-links a {
  color: var(--basic-dark-greyblue);
}

.profile-links a:hover {
  color: var(--basic-red);
}

.profile-container a:active {
  color: var(--basic-grey);
}

.user-container {
  background-color: var(--basic-white);
}

.user-container a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

/* Header navigation */

.main-navigation {
  background-color: var(--basic-dark-greyblue);
  margin-bottom: 60px;
}

.main-header-bar {
  background-color: var(--basic-darker-greyblue);
}

.user-navigation-container {
  display: grid;
  grid-template-columns: 220px 1fr max-content max-content max-content;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-navigation {
  list-style: none;
}

.user-navigation-container a,
.page-navigation a {
  font-size: 18px;
  color: var(--basic-white);
}

.page-navigation a:hover,
.page-navigation a:focus {
  background-color: var(--basic-darker-greyblue);
}

.page-navigation a:active {
  background-color: var(--basic-extradark-greyblue);
  color: var(--basic-transparent-white);
}

.order-link {
  background-color: var(--basic-green);
}

.order-link:hover,
.order-link:focus {
  background-color: var(--basic-light-green);
}

.bookmark-link:active,
.cart-link:active,
.order-link:active {
  color: var(--basic-transparent-white);
}

.bookmark-link:active {
  background-color: var(--special-extradark-greyblue);
}

.cart-full,
.bookmark-full {
  background-color: var(--basic-red);
}

/* Tag */

.tag-new {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
/* Offers */

.offers {
  margin-bottom: 60px;
}

.offers-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
}

.offer-item {
  background-color: var(--special-dark-yellow);
}

.offer-item:nth-child(2) {
  background-color: var(--special-blue);
}

.offer-item:nth-child(3) {
  background-color: var(--special-purple);
}

.offer-item:nth-child(4) {
  background-color: var(--special-green);
}

.offer-item h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.offer-item-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-transparent-light-white);
}

.offer-item-button:hover,
.offer-item-button:focus {
  background-color: var(--basic-transparent-grey);
}

.offer-item-button:active {
  background-color: var(--basic-transparent-darker-grey);
}

/* Offers slider */

.offers-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.offers-slider-content {
  height: 266px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--basic-grey);
}

.offers-slider-image {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.offers-slider-title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-transparent-black);
}

.offers-slider-title h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.offers-slider-title p {
  font-size: 18px;
}

/* Button */

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-dark-red);
}

.button:active {
  background-color: var(--basic-darker-red);
}

/* Popular items, catalog items & brands */

.popular-items-container,
.popular-brands-container {
  background-color: var(--basic-lighter-yellow);
}

.popular-items-container h2,
.popular-brands-container h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-greyblue);
}

.popular-items-list,
.popular-brands-list,
.catalog-list {
  list-style: none;
}

.popular-item,
.popular-brand-item,
.catalog-item {
  background-color: var(--basic-white);
  border: 1px solid var(--basic-lighter-grey);
}

.popular-item:hover,
.popular-item:focus,
.popular-brand-item:hover,
.popular-brand-item:focus,
.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 4px 20px var(--basic-transparent-dark-black);
}

.popular-brand-item:active {
  box-shadow: 0 4px 20px var(--basic-transparent-dark-black);
  opacity: 0.5;
}

.popular-item-title,
.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.price-container {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.popular-item-old-price,
.catalog-item-old-price {
  text-decoration: line-through;
  color: var(--basic-darker-grey);
}

.popular-item-button,
.catalog-item-button {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popular-item-options,
.catalog-item-options {
  background-color: var(--basic-white);
}

.popular-item-options a,
.catalog-item-options a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.option-buy {
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.option-buy:hover,
.option-buy:focus {
  background-color: var(--basic-light-green);
}

.option-buy:active {
  background-color: var(--basic-dark-green);
}

.option-bookmark {
  color: var(--basic-dark-greyblue);
  border: 3px solid var(--basic-green);
}

.option-bookmark:hover,
.option-bookmark:focus {
  border: 3px solid var(--basic-dark-greyblue);
}

.option-bookmark:active {
  border: 3px solid var(--basic-dark-greyblue);
  opacity: 0.5;
}

/* Services */

.services {
  background-color: var(--basic-extralight-greyblue);
}

.services h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.service-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-dark-greyblue);
  border: none;
}

.service-button:hover,
.service-button:focus {
  background-color: var(--basic-darker-greyblue);
}

.service-button.disabled,
.service-button:disabled {
  background-color: var(--basic-white);
  color: var(--basic-dark-greyblue);
}

.delivery h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-greyblue);
}

/* Company & contacts */

.index-columns h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.transport-company-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
}

/* Inner page */

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-greyblue);
  background-color: var(--basic-lighter-greyblue);
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: var(--basic-black);
}

/* Filters */

.filters-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-light-yellow);
}

/* Sort */

.sort {
  background-color: var(--basic-light-yellow);
}

.sort-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-links {
  list-style: none;
}

.sort-link {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-transparent-lighter-black);
  border-bottom: 1px dotted var(--basic-red);
}

.sort-link:hover,
.sort-link:focus {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort-link-arrow {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-transparent-lighter-black);
}

.sort-link-arrow:hover,
.sort-link-arrow:focus {
  color: var(--basic-black);
}

.sort-link-active {
  color: var(--basic-red);
  border: none;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-light-grey);
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid var(--basic-grey);
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

/* Catalog basic information */

.basic-information {
  background-color: var(--basic-lighter-greyblue);
}

.basic-information-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* Main footer */

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

/* Footer info */

.footer-info-container {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-lighter-greyblue);
  background-color: var(--basic-dark-greyblue);
}

.footer-phone {
  color: inherit;
}

.footer-navigation-links,
.footer-promo-links {
  list-style: none;
}

.footer-navigation-links a {
  color: var(--basic-extralight-greyblue);
}

.footer-promo-links a {
  color: var(--basic-yellow);
}

.footer-navigation-links a:hover,
.footer-navigation-links a:focus,
.footer-promo-links a:hover,
.footer-promo-links a:focus {
  text-decoration: underline;
}

.footer-navigation-links a:active,
.footer-promo-links a:active {
  opacity: 0.5;
}

/* Footer copyright */

.footer-copyright-container {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-darker-greyblue);
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: var(--basic-white);
  background-color: var(--special-darker-greyblue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.footer-feedback a,
.footer-developers a {
  color: var(--basic-yellow);
}

.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-developers a:hover,
.footer-developers a:focus {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developers a:active {
  color: var(--basic-red);
}
