/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-lighter-grey: #EAEAEA;
  --basic-light-grey: #E5E5E5;
  --basic-grey: #C5C5C5;
  --basic-dark-grey: #B5B5B5;
  --basic-darker-grey: #A9A9A9;
  --basic-lighter-yellow: #F9F5F0;
  --basic-light-yellow: #F7F3EC;
  --basic-yellow: #FFD180;
  --basic-red: #EE3643;
  --basic-dark-red: #CA2C37;
  --basic-darker-red: #BA2732;
  --basic-light-green: #5FBB2D;
  --basic-green: #63A63E;
  --basic-dark-green: #518534;
  --basic-darker-green: #367315;
  --basic-extralight-greyblue: #F1F5F7;
  --basic-lighter-greyblue: #F2F6F8;
  --basic-light-greyblue: #B7BFC8;
  --basic-greyblue: #3D546F;
  --basic-dark-greyblue: #32425C;
  --basic-darker-greyblue: #293449;
  --basic-extradark-greyblue: #1D2739;
  --basic-black: #000000;

  --basic-transparent-white: rgba(255, 255, 255, 0.5);
  --basic-transparent-grey: rgba(0, 0, 0, 0.24);

  --special-dark-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-green: #8ED78F;
  --special-darker-greyblue: #212A3A;
  --special-extradark-greyblue: #161D29;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */

.main-header {
  background-color: var(--basic-extralight-greyblue);
}

.main-header-about i {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header-contacts {
  text-align: center;
}

.main-header-contacts p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  color: var(--basic-dark-greyblue);
}

.header-phone {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.authorization-container a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.authorization-container a:hover {
  color: var(--basic-red);
}

.authorization-container a:focus,
.authorization-container a:active {
  outline: none;
  color: var(--basic-grey);
}

/* Header navigation */

.main-navigation {
  background-color: var(--basic-dark-greyblue);
}

.user-navigation {
  background-color: var(--basic-darker-greyblue);
}

.page-navigation {
  list-style: none;
}

.user-navigation a,
.page-navigation a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--basic-white);
}

.page-navigation a:hover {
  background-color: var(--basic-darker-greyblue);
}

.page-navigation a:focus,
.page-navigation a:active {
  outline: none;
  background-color: var(--basic-extradark-greyblue);
  color: var(--basic-transparent-white);
}

.order-link {
  background-color: var(--basic-green);
}

.order-link:hover {
  background-color: var(--basic-light-green);
}

.order-link:focus,
.order-link:active {
  outline: none;
  color: var(--basic-transparent-white);
}

.bookmark-link:focus,
.bookmark-link:active,
.cart-link:focus,
.cart-link:active {
  outline: none;
  background-color: var(--special-extradark-greyblue);
  color: var(--basic-transparent-white);
}


